<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>AG Grid PoC</span>
    <div class="spacer"></div>
</div>

<div class="content">
  <div class="grid-1">
    <div class="toolbar-grid">
      <button (click)="getSelectedRows()">Get Selected Rows</button>
      <button *ngIf="!hiddenColumns" (click)="hideColumns()">Hide extra columns</button>
      <button *ngIf="hiddenColumns" (click)="showColumns()">Show extra columns</button>
      <button (click)="exportCSV()">Export to CSV</button>
    </div>
    <ag-grid-angular
      #agGrid
      class="ag-theme-alpine grid"
      [rowData]="rowData"
      [columnTypes]="columnTypes"
      [defaultColDef]="defaultColDef"
      rowSelection="multiple"
      [rowClassRules]="rowClassRules"
      [rowDragManaged]="true"
      [animateRows]="true"
      (gridReady)="onGridReady($event)"></ag-grid-angular>
  </div>
  <div class="grid-1">
    <ag-grid-angular
      #agGrid2
      class="ag-theme-alpine grid"
      [rowData]="rowData"
      pagination=true
      paginationAutoPageSize=true
      [columnTypes]="columnTypes"
      [defaultColDef]="defaultColDef"
      rowSelection="multiple"
      [rowClassRules]="rowClassRules"
      [context]="context"
      [frameworkComponents]="frameworkComponents"
      (gridReady)="onGridReadySecond($event)"></ag-grid-angular>
  </div>
  <div class="list">
    <h3>What's implemented?</h3>
    <ol>
      <li>Sorting</li>
      <li>Basic filters (text, date, numbers)</li>
      <li>Column ordering</li>
      <li>Show/Hide columns</li>
      <li>Pagination</li>
      <li>Resizing</li>
      <li>Style grid</li>
      <li>Export to CSV</li>
      <li>Insert custom components in cell </li>
    </ol>
  </div>
  <div class="list">
    <h3>Negative points</h3>
    <ul>
      <li>Row drag doesn't work with pagination</li>
      <li>You must create the date filter</li>
      <li>Row grouping is enterprise</li>
      <li>You can export to CVS and Excel but Excel is enterprise</li>
    </ul>
  </div>
</div>
