@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

.ag-theme-alpine {
    @include ag-theme-alpine((
        // use theme parameters where possible
        alpine-active-color: deeppink
    ));

    .ag-header {
        // or write CSS selectors to make customisations beyond what the parameters support
        text-style: italic;
    }
    .ag-header-cell-label {
        font-style: italic;
    }
}

body {
    height: calc(100vh - 8px);
}

.ag-theme-alpine {
    // @include ag-theme-alpine((
    //     odd-row-background-color: #CFD8DC
    // ));
}

.row-background-custom.row-background-custom {
    background-color: rgb(211, 152, 207);
}

.older {
    background-color: rgb(92, 76, 76);
    color: white;
}